#wordView .list-cell:even {
    -fx-text-fill: white;
    -fx-background-color: transparent;

}

#wordView .list-cell:odd {
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

#wordView .list-cell:odd:focus{
    -fx-background-color: white;
}
#wordView .scroll-bar:vertical .increment-arrow,
#wordView .scroll-bar:vertical .decrement-arrow,
#wordView .scroll-bar:vertical .increment-button,
#wordView .scroll-bar:vertical .decrement-button {
    -fx-padding: 0px;
}

#wordView .list-cell:odd:hover {
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(to right top, #ffffff, #c8c5d7, #948eaf, #625a88, #302b63);
}
#wordView .list-cell:even:hover {
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(to right top, #ffffff, #c8c5d7, #948eaf, #625a88, #302b63);
}

#wordView .scroll-bar:vertical {
    -fx-padding: 0px;
}

#searchView {
    -fx-background-color: linear-gradient(to right top, #000000, #14060d, #1c0c1a, #1f1228, #1b1939);
}

#searchView .list-cell:even {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to right top, #000000, #14060d, #1c0c1a, #1f1228, #1b1939);

}

#searchView .list-cell:odd:hover {
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(to right top, #ffffff, #c8c5d7, #948eaf, #625a88, #302b63);
}
#searchView .list-cell:even:hover {
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(to right top, #ffffff, #c8c5d7, #948eaf, #625a88, #302b63);
}

#searchView .list-cell:odd {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to right top, #000000, #14060d, #1c0c1a, #1f1228, #1b1939);
}

#searchView .list-cell:odd:focused{
    -fx-background-color: linear-gradient(to right top, #000000, #14060d, #1c0c1a, #1f1228, #1b1939);
}
#searchView .scroll-bar:vertical .increment-arrow,
#searchView .scroll-bar:vertical .decrement-arrow,
#searchView .scroll-bar:vertical .increment-button,
#searchView .scroll-bar:vertical .decrement-button {
    -fx-padding: 0px;
}

#searchView .scroll-bar:vertical {
    -fx-padding: 0px;
}


#listOfButtons {
    -fx-border-color:  #253239;
    -fx-border-width: 0 1px 0 0;
}

#listOfButtons .button {
    -fx-background-color: transparent;
}


#logoText {
    -fx-font-family: 'serif';
    -fx-text-fill: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    -fx-font-size: 22;
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

.list-view {
    -fx-cursor: hand;
}

#change, #speak, #delete, #add, #containerbox, #favorite {
    -fx-background-color: rgba(27, 25, 57, 0.2);
    -fx-border-color: 1px rgba(27, 25, 57, 1);
    -fx-border-radius: 16px;
    -fx-border-style: solid;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
}

.button:hover {
    -fx-cursor: hand;
}

#clearPane {
    -fx-background-color: rgba(255, 255, 255, 0.26);
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
    -fx-border-color: 1px solid rgba(255, 255, 255, 1);
}

