#container {
    -fx-background-color: rgba(27, 25, 57, 0.2);
    -fx-border-color: 1px rgba(27, 25, 57, 1);
    -fx-border-radius: 16px;
    -fx-border-style: solid;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
}
#duolingo_container {
    -fx-background-color: rgba(27, 25, 57, 0.2);
    -fx-border-color: 1px rgba(27, 25, 57, 1);
    -fx-border-radius: 16px;
    -fx-border-style: solid;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
}


#favoriteWordContainer {
    -fx-background-color: rgba(255,203,242  , 0.2);
    -fx-border-color: 1px rgba(27, 25, 57, 1);
    -fx-border-style: solid;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
}

.text-area, .text-area .viewport, .text-area .content {
    -fx-background-color: transparent ;
    -fx-text-fill: white;
}
.text-area .scroll-bar:vertical {
    -fx-pref-width: 1;
    -fx-opacity: 1;
    -fx-background-color: black;
}
.text-area .scroll-bar:horizontal {
    -fx-pref-height: 1;
    -fx-opacity: 0;
}

#askButton {
    -fx-background-color: rgba(255, 188, 231, 0.6);
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-text-fill: white;
}

#askDefButton, #askSynonymAndAnotonymButton, #askForUseButton, #askForCollocations {
    -fx-background-color: rgba(255, 188, 231, 0.6);
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-text-fill: white;
}

