#container {
    -fx-background-color: rgba(27, 25, 57, 0.2);
    -fx-border-color: 1px rgba(27, 25, 57, 1);
    -fx-border-radius: 16px;
    -fx-border-style: solid;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
}
#duolingo_container {
    -fx-background-color: rgba(27, 25, 57, 0.2);
    -fx-border-color: 1px rgba(27, 25, 57, 1);
    -fx-border-radius: 16px;
    -fx-border-style: solid;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
}


#favoriteWordContainer {
    -fx-background-color: rgba(255,203,242  , 0.2);
    -fx-border-color: 1px rgba(27, 25, 57, 1);
    -fx-border-style: solid;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
}

.text-area, .text-area .viewport, .text-area .content {
    -fx-background-color: transparent ;
    -fx-text-fill: white;
}

#askButton {
    -fx-background-color: rgba(255, 0, 166, 0.9);
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-text-fill: white;
}

#askDefButton, #askSynonymAndAnotonymButton, #askForUseButton, #askForCollocations {
    -fx-background-color: rgba(255, 0, 166, 0.6);
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-text-fill: white;
}
