#translatingTextArea {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-text-fill: white;

}

#translatingTextArea  .scroll-pane {
    -fx-background-color: transparent;
}

#translatingTextArea .scroll-pane .viewport{
    -fx-background-color: transparent;
}


#translatingTextArea .scroll-pane .content{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

#anchorPane {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

#translatedTextArea, #translatingLabel, #translatedLabel {
    -fx-background-color: linear-gradient(to right top, #000000, #14060d, #1c0c1a, #1f1228, #1b1939);
    -fx-background-radius: 10px;
    -fx-text-fill: white;

}

#translatedTextArea  .scroll-pane {
    -fx-background-color: transparent;
}

#translatedTextArea .scroll-pane .viewport{
    -fx-background-color: transparent;
}


#translatedTextArea .scroll-pane .content{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

#container {
    -fx-border-color: linear-gradient(to right top, #ffffff, #c8c5d7, #948eaf, #625a88, #302b63);
    -fx-background-color: transparent;
}
