#translatingTextArea {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-text-fill: white;

}

#translatingTextArea  .scroll-pane {
    -fx-background-color: transparent;
}

#translatingTextArea .scroll-pane .viewport{
    -fx-background-color: transparent;
}


#translatingTextArea .scroll-pane .content{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

#anchorPane {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

#translatedTextArea, #translatingLabel, #translatedLabel {
    -fx-background-color: #302b63;
    -fx-background-radius: 10px;
    -fx-text-fill: white;

}

#translatedTextArea  .scroll-pane {
    -fx-background-color: transparent;
}

#translatedTextArea .scroll-pane .viewport{
    -fx-background-color: transparent;
}


#translatedTextArea .scroll-pane .content{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
