
#logoText {
    -fx-font-family: 'serif';
    fx-text-fill: linear-gradient(to right top, #302b63, #351d44, #2c1429, #1d0c15, #000000);
    -fx-font-size: 22;
}
#homePage {
    -fx-background-color: radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 0%, radius 220%, #131f24 10%, #302b63 40%, #24243e 65%);
}

.button {
    -fx-border-radius: 100px;
    -fx-background-color: transparent;
    -fx-transition: -fx-background-color 0.5s ease;
}

#anchorPane1 {
    -fx-background-color:  #130f1d;
    -fx-border-width: 0 1px 0 0;
}

#getHelloChapterButton, #getSchoolChapterButton, #startChapterButton, #displayButton {
    -fx-background-color: linear-gradient(to right top, #ffcbf2, #ec38bc, #7303c0, #03001e);
    -fx-background-radius: 5; /* Adjust the radius as needed */
    -fx-border-radius: 5; /* Adjust the radius as needed */
}

#closeButton {
    -fx-border-radius: 0 0 0 25;
}

.button:hover {
    -fx-cursor: hand;
}