#pane2 {
    -fx-background-color: black;
}
#lifeLabel {
    -fx-text-fill: red;
    -fx-font-style: bold;

}
#button1 {
    -fx-background-color: #2f6dae;
}

#button2 {
    -fx-background-color: #2c9ca6;
}

#button3 {
    -fx-background-color: #ce8d18;
}

#button4 {
    -fx-background-color: #d4546a;
}
.button:hover {
    -fx-text-fill: WHITE;
    -fx-scale-x: 0.99;
    -fx-scale-y: 0.99;
    -fx-scale-z: 0.99;

    transition: -fx-text-fill 1s ease,
                -fx-scale-x 0.5s ease,
                -fx-scale-y 0.5s ease;
                -fx-scale-z 0.5s ease;
                -fx-opacity: 0.8;
}

#pane2 {
        -fx-border-color:  #253239;
        -fx-border-width: 1px 0 0 0;
}

#skipButton {
    -fx-background-color:  #0489B0;
    -fx-text-fill: black;
    -fx-effect: dropshadow (gaussian, #58a700, 0, 0, 0, 5);
}
#skipButton:pressed {
    -fx-effect: null;
    -fx-translate-y: 5;
    transition: all 0.1s;
}
#endButton {
    -fx-background-color:  #0489B0;
    -fx-text-fill: black;
}
#endButton:pressed {
    -fx-effect: null;
    -fx-translate-y: 5;
    transition: all 0.1s;
}

.progress-bar {
    -fx-accent: rgba(0, 138, 230, 0.85);
}

.progress-bar .bar {
    -fx-padding: 1px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.progress-bar > .track {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: rgba(255, 255, 255, 0.1);
}